In [1]:
from utils.utils import *

In [2]:
load_dotenv()

True

In [3]:
cryptocompare_apikey = os.getenv('CRYPTO_COMPARE_API_KEY')

In [4]:
ohlcv_prices = get_cryptocompare_ohlcv('BTC',6)

Appended API request #0 to dataframe
getting 6 BTC records

In [5]:
ohlcv_prices

,time,open,high,low,close,volume
0,2022-07-12 03:00:00+00:00,19953.59,19953.59,19861.16,19924.55,22090979.89
1,2022-07-12 04:00:00+00:00,19924.55,20012.84,19911.17,19986.68,38512708.91
2,2022-07-12 05:00:00+00:00,19986.68,20036.49,19936.74,19937.32,16462204.16
3,2022-07-12 06:00:00+00:00,19937.32,19937.32,19790.00,19827.76,24113889.88
4,2022-07-12 07:00:00+00:00,19827.76,19845.86,19602.48,19711.03,50717969.68
5,2022-07-12 08:00:00+00:00,19711.03,19789.08,19688.99,19760.84,6655825.25

In [6]:
ohlcv_prices = get_cryptocompare_ohlcv('BTC',6, ohlcv_prices)

Appended API request #0 to dataframe
dataframe is up-to-date

In [7]:
ohlcv_prices

,time,open,high,low,close,volume
0,2022-07-12 03:00:00+00:00,19953.59,19953.59,19861.16,19924.55,22090979.89
1,2022-07-12 04:00:00+00:00,19924.55,20012.84,19911.17,19986.68,38512708.91
2,2022-07-12 05:00:00+00:00,19986.68,20036.49,19936.74,19937.32,16462204.16
3,2022-07-12 06:00:00+00:00,19937.32,19937.32,19790.00,19827.76,24113889.88
4,2022-07-12 07:00:00+00:00,19827.76,19845.86,19602.48,19711.03,50717969.68
5,2022-07-12 08:00:00+00:00,19711.03,19789.08,19688.99,19760.84,6655825.25

In [8]:
ohlcv_prices = ohlcv_prices.iloc[:-1,:]

In [9]:
ohlcv_prices

,time,open,high,low,close,volume
0,2022-07-12 03:00:00+00:00,19953.59,19953.59,19861.16,19924.55,22090979.89
1,2022-07-12 04:00:00+00:00,19924.55,20012.84,19911.17,19986.68,38512708.91
2,2022-07-12 05:00:00+00:00,19986.68,20036.49,19936.74,19937.32,16462204.16
3,2022-07-12 06:00:00+00:00,19937.32,19937.32,19790.00,19827.76,24113889.88
4,2022-07-12 07:00:00+00:00,19827.76,19845.86,19602.48,19711.03,50717969.68

In [10]:
ohlcv_prices = get_cryptocompare_ohlcv('BTC',5,ohlcv_prices)

Appended API request #0 to dataframe
popping oldest record
getting 1 BTC records

In [11]:
ohlcv_prices

,time,open,high,low,close,volume
0,2022-07-12 04:00:00+00:00,19924.55,20012.84,19911.17,19986.68,38512708.91
1,2022-07-12 05:00:00+00:00,19986.68,20036.49,19936.74,19937.32,16462204.16
2,2022-07-12 06:00:00+00:00,19937.32,19937.32,19790.00,19827.76,24113889.88
3,2022-07-12 07:00:00+00:00,19827.76,19845.86,19602.48,19711.03,50717969.68
4,2022-07-12 08:00:00+00:00,19711.03,19789.08,19688.99,19761.72,6680903.27

In [2]:
 / 1000000000000000000
# we had a factor of 1 when we sold USDT and divided the result by 1000000000000 to get sUSD

98503.99580852933

Scheduler

At initial program startup, program should fetch 48 hours of pricing data from two API's: CryptoCompare and KuCoin (CCTX).  
For CryptoCompare, use get_cryptocompare_data.  @TODO need to drop volume_from column in function, and change volume_to to volume.

For Kucoin, use get_kucoin_data.

Dictionary should hold all buffers indexed by coin_name.{'BTC':[ohlcv - 48 hours]}

ohlcv = either dataframe or dictionary of arrays

if df, iloc can be used to slice and pop the oldest data.

Get performed in their own functions.
As parameters (

Each of the 4 coin pricing data is stored in its own buffer.

Then, after initial startup, the program gets current ohlcv data for each of the coins and updates the buffers.


for creating dataframe function, pass dataframe in, (get size() for conditional), pass in slow sma period (used for determining buffer size and api calls).
    check length of df,
    * if smaller than sma period, get sma length of data
    * else just update new prices and drop oldest


return 4 buffers

(line 229) in eval.py

(line 231) for making df

apply 234 - 238, dont need 240 (dictionary is 240).

use 244 - to make one large dataframe (single row)

apply 250 for pct change

apply X_scalar to data (from pickle)

apply 263 to get 1 prediction - just on last row
(y_predict)

if =1:
    print buy
if =0:
    print hold
if =-1:
    print sell


use for loop,


for

In [3]:
# scenario 1
# sell 100000 USDT -> sUSD

# USDT is 6 decimals
# sUSD is 18 decimals
sell amount  was 100000   (1000000)
buy amount was 98503995808529330


sell amount USDT 100000 * 1000000 = 100000000000
buy amount = 99286270053737569201364 sUSD.

SyntaxError: invalid syntax (1170721922.py, line 3)

In [6]:
sell amount sUSD 100000  * 1000000000000000000 = 100000000000000000000000
buy amount = 100725945879

99286.27005373756

In [7]:
100725945879 / 1000000

100725.945879