In [16]:
#### DISCLAIMER, a lot of the code on this section is borrowed from tutorials and will likely not be used in the main.

In [7]:
import requests
import json
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
query = """query {
    tokenDayDatas(first:1000,
    where: {token: "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"},
    orderBy: date,
    orderDirection: desc) {
      date
      priceUSD
    }
}"""

# Call the public hosted TheGraph endpoint
url = 'https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2'
r = requests.post(url, json={'query': query})
print(r.status_code)

200

In [9]:
# query = """query {
#  pair(id: "0xa478c2975ab1ea89e8196811f51a7b7ade33eb11"){
#      token0 {
#        id
#        symbol
#        name
#        derivedETH
#      }
#      token1 {
#        id
#        symbol
#        name
#        derivedETH
#      }
#      reserve0
#      reserve1
#      reserveUSD
#      trackedReserveETH
#      token0Price
#      token1Price
#      volumeUSD
#      txCount
#  }
# }"""

# # Call the public hosted TheGraph endpoint
# url = 'https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2'
# r = requests.post(url, json={'query': query})
# print(r.status_code)

In [ ]:
# step 3 - save data to Numpy array
# The request returns a json structured string. First we transform the string into a json object:
json_data = json.loads(r.text)

# Next step is to convert the json object to an array, there are many ways to do this. Here is one 
# example that iterates over the data and converts it into float numbers (the price) and datetime objects 
# (the timestamps) while appending it to an initally empty array.

# Create an empty Numpy array
arr = np.empty((0,2), int)

# Populate the Numpy array, while converting Unix timestamps to datetime objects, and price to float numbers
for l in json_data['data']['tokenDayDatas']:
    arr = np.append(arr, np.array([[datetime.fromtimestamp(l['date']), np.float(l['priceUSD'])]]), axis=0)
    

# Now you have the data in a Numpy array, and you can basically do anything with it. Explore with Numpy and SciPy, or SciKitLearn for machine learning.

In [13]:
# step 3 - save data to Numpy array
# The request returns a json structured string. First we transform the string into a json object:
json_data = json.loads(r.text)

# Next step is to convert the json object to an array, there are many ways to do this. Here is one 
# example that iterates over the data and converts it into float numbers (the price) and datetime objects 
# (the timestamps) while appending it to an initally empty array.

# Create an empty Numpy array
arr = np.empty((0,2), int)

# Populate the Numpy array, while converting Unix timestamps to datetime objects, and price to float numbers
for l in json_data['data']['tokenDayDatas']:
    arr = np.append(arr, np.array([[datetime.fromtimestamp(l['date']), np.float(l['priceUSD'])]]), axis=0)
    

# Now you have the data in a Numpy array, and you can basically do anything with it. Explore with Numpy and SciPy, or SciKitLearn for machine learning.

/Users/kevincorstorphine/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [14]:
display(arr)

array([[datetime.datetime(2022, 7, 3, 17, 0), 1137.5637211378853],
       [datetime.datetime(2022, 7, 2, 17, 0), 1072.959823455799],
       [datetime.datetime(2022, 7, 1, 17, 0), 1068.3290880891357],
       ...,
       [datetime.datetime(2020, 5, 6, 17, 0), 201.3586620865844],
       [datetime.datetime(2020, 5, 5, 17, 0), 201.3584584250841],
       [datetime.datetime(2020, 5, 4, 17, 0), 201.48625086106713]],
      dtype=object)

In [15]:
df = pd.DataFrame (arr, columns=['Date','Price'])

display(df.head())

                 Date        Price
0 2022-07-03 17:00:00  1137.563721
1 2022-07-02 17:00:00  1072.959823
2 2022-07-01 17:00:00  1068.329088
3 2022-06-30 17:00:00  1057.213088
4 2022-06-29 17:00:00  1068.904229